<!-- <ul class="products">
    <li *ngFor="let product of products" (click)="onSelect(product)">
      <span class="badge">{{product.id}}</span> {{product.name}}
    </li>
</ul>

<div *ngIf="selectedProduct">

  <h2>{{selectedProduct.name}} Details</h2>
  <div><span>Description: </span>{{selectedProduct.description}}</div>
  <div><span>Price: </span>${{selectedProduct.price}}</div>
  <div><span>Rating: </span>{{selectedProduct.rating}}</div>
  <div><span>Warranty: </span>{{selectedProduct.warranty}}</div>
  <div><span>Seller: </span>{{selectedProduct.seller}}</div>
</div> -->

<h2>My Products</h2>
<ul class="products">
  <li *ngFor="let product of products">
    <a routerLink="/detail/{{product.id}}">
      <span class="badge">{{product.id}}</span> {{product.name}}
    </a>
  </li>
</ul>

<td>
<input type="text"  name="select product">
</td>
  <button (click)='add()' class='btn btn-primary'> Add
  </button>
